
<div class="container text-center">
  <div class="row justify-content-md-center"> 
    <div class="col">
    <h1>Products</h1>

    <%= link_to 'Back', query_products_path %>
      <table class="table table-striped">
        <thead>
          <tr> 
            <th scope="col"> Id </th> 
            <th scope="col"> Title </th>
            <th scope="col"> Description </th>
            <th scope="col"> Price </th>
            <th scope="col"> Capacity </th>  
            <th scope="col"> Active </th>
            <th scope="col"> Status </th>
          
                        
          </tr>
        </thead>

        <tbody>
          <% @query_product.each do |q| %>
            <tr>
              <td> <%= q.id %> </td>
              <td> <%= q.title %> </td>
              <td> <%= q.description %> </td>
              <td> <%= q.price %> </td>
              <td> <%= q.capacity %> </td>
              <td> <%= q.is_active %> </td>
              <td> <%= q.status %> </td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


