<%= form_with model: @query_product do |form| %>
  <div class="container">
    <h1 class="text-center">Edit Products</h1>
    <div class="row">  
      <div class="col-4">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: "form-control" %>
        <%= custom_error(@query_product, :title) %>
      </div>
    </div><br/>
   
    <div class="row">
      <div class="col-4">
        <%= form.label :description %><br>
        <%= form.text_field :description, class: "form-control" %>
         <%= custom_error(@query_product, :description) %>
        </div>
    </div> <br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :price %><br>
        <%= form.text_field :price, class: "form-control" %>
        <%= custom_error(@query_product, :price) %>
      </div>
    </div> <br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :capacity %><br>
        <%= form.text_field :capacity, class: "form-control" %>
        <%= custom_error(@query_product, :capacity) %>
      </div>
    </div> <br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :is_active %> &nbsp; &nbsp;
        <%= form.radio_button :is_active, "true" %>
        <%= form.label :is_active, "Yes" %>  &nbsp; &nbsp;
        <%= form.radio_button :is_active, "false" %>
        <%= form.label :is_active, "No" %>
        <%= custom_error(@query_product, :is_active) %>
      </div>
    </div> <br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :status %><br>
        <%= form.select :status, product_statuses  ,class: "form-control" %>
        <%= custom_error(@query_product, :status) %>
      </div>
    </div> <br/>
    
    <div>
      <%= form.submit "Update data", class: "btn btn-primary" %>   
    </div>
        
</div>

<% end %>