<h2 class="text-center"> List of Employees </h2>

<div class="container text-center">
  <div class="row justify-content-md-center">
    <%= link_to "Add Employees", new_employee_path %>
    <%= link_to "Other Operations", others_path %>
      <div class="col">
        <table class="table table-striped">          
          <thead>
            <tr>  
              <th scope="col"> Id </th>
              <th scope="col"> First name </th>
              <th scope="col"> Last Name </th>
              <th scope="col"> Email </th>
              <th scope="col"> Age </th>
              <th scope="col"> Total Orders </th>
              <th scope="col"> Time Availability </th>
              <th scope="col"> Salary </th>
            </tr>
          </thead>

          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td> <%= employee.id %> </td>
                <td> <%= employee.first_name %> </td>
                <td> <%= employee.last_name %> </td>
                <td> <%= employee.email %> </td>
                <td> <%= employee.age %> </td>
                <td> <%= employee.no_of_order %> </td>
                <td> <%= employee.full_time_available %> </td>
                <td> <%= employee.salary %> </td>
                <td> <%= link_to "Update Record", 
                  edit_employee_path(employee.id), 
                  class: "btn btn-primary" %> 
                </td>

                <td> <%= link_to "Delete Record", 
                  employee_path(employee.id), 
                  data: { 
                    turbo_method: :delete,
                    turbo_confirm: "Confirmation for delete the Employee"
                        },
                  class: "btn btn-primary" %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><br/>
 
    <%= form_with url: find_email_path do |form| %>
      <%= form.label :email %> &nbsp; &nbsp;
      <%= form.text_field :email %> &nbsp; &nbsp;
      <%= form.submit "Find" %><br/> 
      <% flash.each do |type, msg| %>
        <div> <%= msg %> </div>
      <% end %>
      <br><br>
      <%= link_to "Increse one order", update_order_path, class: "btn btn-primary" %> &nbsp; &nbsp;
      <%= link_to "Remove one order", decrese_order_path, class: "btn btn-primary" %>
    <% end %>  
  </div>
</div>




