<%= form_with model: @employee do |form| %>
<div class="container">

    <h1 class="text-center">Add Employee</h1>
    <div class="row">  
      <div class="col-4">
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name, class: "form-control" %>
        <%= custom_error(@employee, :first_name) %>
      </div>
    </div><br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name, class: "form-control" %>
        <%= custom_error(@employee, :last_name) %>
      </div>
    </div> <br/>

  	<div class="row">
      <div class="col-4">
        <%= form.label :email %><br>
        <%= form.text_field :email, class: "form-control" %>
        <%= custom_error(@employee, :email) %>
      </div>
    </div> <br/>


    <div class="row">
      <div class="col-4">
        <%= form.label :age %><br>
        <%= form.text_field :age, class: "form-control" %>
        <%= custom_error(@employee, :age) %>
      </div>
    </div> <br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :no_of_order %><br>
        <%= form.text_field :no_of_order, class: "form-control" %>
        <%= custom_error(@employee, :no_of_order) %>
      </div>
    </div> <br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :full_time_available %><br>
        <%= form.text_field :full_time_available, class: "form-control" %>
        <%= custom_error(@employee, :full_time_available) %>
      </div>
    </div> <br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :salary %><br>
        <%= form.text_field :salary, class: "form-control" %>
        <%= custom_error(@employee, :salary) %>
      </div>
    </div> <br/>

    <div>
      <%= form.submit "Insert data", class: "btn btn-primary -center" %>
    </div>
    
</div>

<% end %>