

<div class="container">
  <br/>
  <h3 class="text-center"> Employee List of age between 20 to 40 </h3>
    <div class="col">

      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[0].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of full time available employee</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[1].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee who has age more then 25 and order is 5</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[2].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col">
     <br/><h3 class="text-center"> List of employee who created before today</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[3].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col">
     <br/><h3 class="text-center"> List of employee who created before today</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[3].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee who has age more then 25 or order is 5</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[4].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee in descending order by age</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[5].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee in ascending order by order</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[6].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee who has salary more then 45000</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Age </th>
            <th scope="col"> Total Orders </th>
            <th scope="col"> Time Availability </th>
            <th scope="col"> Salary </th>
          </tr>
        </thead>

        <tbody>
          <% @que[7].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.email %> </td>
              <td> <%= e.age %> </td>
              <td> <%= e.no_of_order %> </td>
              <td> <%= e.full_time_available %> </td>
              <td> <%= e.salary %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee with the use of unscope and reverse order</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Age </th>
           
          </tr>
        </thead>

        <tbody>
          <% @que[9].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.age %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee with the use of only keyword</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Age </th>
           
          </tr>
        </thead>

        <tbody>
          <% @que[10].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.age %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
     <br/><h3 class="text-center"> List of employee with the use of reselect keyword</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Age </th>
           
          </tr>
        </thead>

        <tbody>
          <% @que[11].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.age %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
      <br/><h3 class="text-center"> List of employee with the use of reorder keyword</h3>
      <table class="table table-striped">
        <thead>
          <tr>  
            <th scope="col"> Id </th>
            <th scope="col"> First name </th>
            <th scope="col"> Last name </th>
            <th scope="col"> Age </th>
           
          </tr>
        </thead>

        <tbody>
          <% @que[12].each do |e| %>
            <tr>
              <td> <%= e.id %> </td>
              <td> <%= e.first_name %> </td>
              <td> <%= e.last_name %> </td>
              <td> <%= e.age %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</div>