<div align='center'>
  <%= turbo_frame_tag "turbo_post_comments_#{params[:id]}" do %>
    <%= turbo_frame_tag "turbo_new_comment_#{params[:id]}" do %>
      <%= link_to 'Add Comment', new_post_post_comment_path(params[:id]) %><br>
    <% end %>
    <div id="display_comments">
      <% @comments.each do |comment| %>
        <%= comment.comment %><br>
      <% end %>
    </div>
    <%= link_to 'Back', all_post_path %>
  <% end %>
</div>