
<%= form_with model: @author do |form| %>
<div class="container">

    <h1 class="text-center">Add Author</h1>
    <div class="row">  
      <div class="col-4">
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name , class:"form-control" %>
        <% @author.errors.full_messages_for(:first_name).each do |message| %>
          <div> <%= message %></div>
        <% end %>
      </div>
    </div><br/>

    <div class="row">
      <div class="col-4">
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name, class:"form-control" %>
        <% @author.errors.full_messages_for(:last_name).each do |message| %>
        <div> <%= message %> </div>
          <% end %>
      </div>
    </div> <br/>

  <div class="row">
      <div class="col-4">
        <%= form.label :dob %><br>
        <%= form.text_field :dob, class:"form-control" %>
        <% @author.errors.full_messages_for(:dob).each do |message| %>
        <div> <%= message %> </div>
          <% end %>
      </div>
    </div> <br/>


    <div class="row">
      <div class="col-4">
        <%= form.label :email %><br>
        <%= form.text_field :email, class:"form-control" %>
        <% @author.errors.full_messages_for(:email).each do |message| %>
        <div> <%= message %> </div>
          <% end %>
      </div>
    </div> <br/>

    <div>
      <%= form.submit 'Insert data', class:"btn btn-primary -center" %>
    </div>
    
</div>

<% end %>