<div style="text-align: center">
    <h1>Trainee Information</h1>

    <h3>Name : <%= @name %> </h3>

    <h3>Company Name : <%= @company_name %> </h3>

    <h3>Collage Name : <%= @collage_name %> </h3>

    <h3>Hobbies : <%= @hobbies %> </h3>

    <h3>Current Learning : <%= @current_learning %> </h3>

    <h3>Current Part Of Learning In Hacking : <%= @current_hacking_framework %> </h3>
</div>