<div class="container text-center">
  <div class="row justify-content-md-center"> 
    <div class="col">
       <h1>Employees</h1>
      <%= link_to "Search", search_employee_path %> &nbsp;&nbsp;&nbsp;
      <%= link_to "Add Employee", new_employee_form_path %>
      <table class="table table-striped">
        <thead>
          <tr> 
            <th scope="col"> Id </th> 
            <th scope="col"> Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Gender </th>
            <th scope="col"> Contact No. </th>
            <th scope="col"> Date of Birth </th>
            <th scope="col"> Hobbies </th>
            <th scope="col" colspan=2 > Action </th>                        
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td> <%= employee.id %> </td>
              <td> <%= employee.employee_name %> </td>
              <td> <%= employee.email %> </td>
              <td> <%= employee.gender %> </td>
              <td> <%= employee.mobile_number %> </td>
              <td> <%= employee.birth_date %> </td>
              <td> <%= employee.hobbies %> </td>
              <td> <%= link_to "Edit", edit_employee_form_path(employee.id), class: "btn btn-primary" %> </td>
              <td> <%= link_to "Delete", employee_form_path(employee.id),
                               data: { turbo_method: :delete,
                                       turbo_confirm: "Confirmation for delete the employee" },
                               class: "btn btn-primary" %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>