<div class="container text-center">
  <div class="row justify-content-md-center"> 
    <div class="col">
    <h1>Customers</h1>

    <%= link_to "Back", business_customer_routes_path %> <br><br>
    <%= form_with(url: business_search_path, method: :get) do |form|%>
      <%= form.label 'Enter Name' %> &nbsp;&nbsp;&nbsp;
      <%= form.text_field :name %>
      <%= form.submit 'Search' %>
    <% end %><br>
      <table class="table table-striped">
        <thead>
          <tr> 
            <th scope="col"> Id </th> 
            <th scope="col"> Name </th>
            <th scope="col"> Contact </th>
            <th scope="col"> Email </th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |c| %>
            <tr>
              <td> <%= c.id %> </td>
              <td> <%= c.name %> </td>
              <td> <%= c.contact %> </td>
              <td> <%= c.email %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>