<div align='center'>
  <h2> Add Car </h2>
  <%= form_with model: @car do |form| %>
    <%= form.label 'Name'%>
    <%= form.text_field :name %><br><br>
    
    <%= form.label 'Color'%>
    <%= form.text_field :color %><br><br>
    
    <%= form.label 'Price'%>
    <%= form.text_field :price %><br><br>
    
    <%= form.label 'Average' %>
    <%= form.text_field :average %><br><br>
    
    <%= form.submit 'Add Car' %>
  <% end %>
</div>